@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-M.ttf) format('truetype');
}

body {
    font-family:Arial;
        .heading{
        color:blue;
        font-size:60px;
        }
        .headshot{
            width:100%;
        }
        .text{
            font-size:40px;
        }
}
