@font-face {
  font-family: ubuntu;
  src: url(../fonts/Ubuntu-M.ttf) format("truetype"); }

body {
  font-family: Arial; }
  body .heading {
    color: blue;
    font-size: 60px; }
  body .headshot {
    width: 100%; }
  body .text {
    font-size: 40px; }

