				<div class="resume work-in-progress">
					<h2>Kyle Stockton</h2>
					<ul>
						<li>(503) 661-8852</li>
						<li>kylestockton@mail.com</li>
						<li>https://github.com/kyle-stockton</li>
						<li>https://www.linkedin.com/in/kyle-stockton-48983041</li>
					</ul>
					<h3>Experience Summary</h3>
					<ul>
						<li>- Collaborated on development of web-based application using ASP.NET MVC, jQuery, Bootstrap, Sass, and SQL Server following Scrum methodology</li>
						<li>- Planned, developed, and debugged a variety of simple applications in C#, Python, and JavaScript as part of rigorous software development bootcamp coursework</li>
						<li>- Directed and instructed newer campers in team web development project</li>
						<li>- Developed and published 3-D action/adventure game for iOS using Unity</li>
						<li>- Earned AAS degree in Computer Game Development, graduating Valedictorian</li>
						<li>- Built games in Unity and Unreal for group and individual college projects</li>
						<li>- Created portfolio site in WordPress featuring visual effects and shaders for Unity and Maya</li>
						<li>- Interned in college IT department, focusing on made-to-order system builds</li>
					</ul>
					<h3>Skills Summary</h3>
					<ul>
						<li>Programming / Development: C#; Javascript; Python; HTML; CSS; Clojure; R; ShaderLab</li>
						<li>Operating Systems: Windows XP, 7, 8, 10; Linux Ubuntu, OS X; Android 4; iOS 6 & up</li>
						<li>Frameworks: Unity 4.x, 5.x; .NET Framework 4.5; ASP.NET; ASP.NET MVC; Entity Framework; Windows Forms; Bootstrap; jQuery</li>
						<li>Architectural Paradigms: MVC; JSON-interfacing APIs</li>
						<li>Business Domains: Video Games; Social Media</li>
						<li>IDE: Visual Studio 2015; Unity; MonoDevelop; IDLE; Emacs; Xcode</li>
						<li>Methodologies: Agile / Scrum</li>
						<li>Database Management: SQL Server 2008, 2012; MySQL; SQLite</li>
						<li>Content Management: WordPress; DreamWeaver</li>
					</ul>

					<h3>Experience</h3>
					<h4>Behdad Sami Interactive, Beaverton, OR			From: 8 / 2014   To: 5 / 2016</h4>
					<h5>Contracted Unity developer.  Developed a published 3-D action/adventure game for iOS.</h5>
					<p><em>Skill set: </em>C#;  JavaScript;  Unity;  MonoDevelop;  Xcode</p>
					<p><em>Key projects include:   </em></p>
					<ul>
						<li>User interface development, including prototype swipe-based control scheme</li>
						<li>Camera tracking / control development, including transition between first- and third-person views</li>
						<li>Level design based on creative interpretation of design document to optimize visual asset economics</li>
					</ul>

					<h4>Borders Books & Music, Gresham, OR			From: 10 / 2007   To: 9 / 2011</h4>
					<h5>Periodicals specialist.</h5>
					<p><em>Skill set: </em>Efficient sorting/processing;  time management;  problem solving;  teamwork</p>
					<p><em>Key responsibilities include:   </em></p>
					<ul>
						<li>Processing incoming shipments, with emphasis on inventory control and efficient display implementation</li>
						<li>Maintaining periodical section for optimal organizational efficiency and visual impact</li>
						<li>Pulling and accounting for expired titles, responsible for loss prevention and timely cycling of product</li>
						<li>Engaging in standard customer service and retail duties throughout all store departments</li>
					</ul>

					<h3>Education and Training</h3>
					<h4>The Tech Academy, Portland, OR</h4>
					<h5>Comprehensive, self-paced coding bootcamp</h5>
					<ul>
						<li>Coding in HTML, CSS, Python, JavaScript, and C#</li>
						<li>Experience in self-directed software development using Visual Studio and IDLE</li>
						<li>Database management using SQL Server, MySQL, and SQLite</li>
						<li>Content management with WordPress</li>
						<li>Principles of computer science, project management (Agile/Scrum), and version control</li>
						<li>Practical team-based full-stack development using Entity Framework, MVC, Razor, Bootstrap, Sass and jQuery</li>
					</ul>
					<h4>Mt. Hood Community College, Gresham, OR</h4>
					<h5>Graduated Valedictorian and received Associate of Applied Science Degree in Computer Information Systems with focus in Computer Game Development.</h5>
					<ul>
						<li>Programming in C#, C++, HTML/CSS, ShaderLab, and Unreal Blueprints</li>
						<li>Game development theory as well as individual- and team-based development projects in Unity and Unreal</li>
						<li>Website development theory and application using DreamWeaver, Flash, and WordPress</li>
						<li>Illustration and graphic design in digital and physical mediums</li>
						<li>Visual asset creation using Photoshop, GIMP, Maya, and Max</li>
						<li>Principles of animation with practical exercises in Flash and Maya</li>
						<li>Calculus</li>
						<li>IT Department Internship</li>
					</ul>
				</div>
